html,
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-root);
  margin: 0;
  padding: 0;
  background: var(--color-white);

  @include desktop {
    background: var(--color-beige);
  }
}